apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- https://raw.githubusercontent.com/aquasecurity/trivy-operator/v0.1.0/deploy/static/trivy-operator.yaml


namespace: trivy-system
patches:
- path: patches/inject-linkerd.yaml
